//"Pistache":["#B3C21A","#D0D774","#DDE19A","#E9EBC0"],
//"Vert":["#5C962F","#8CB23D","#A2BE5E","#CEDAA9"],
//"Pistache foncé":["#268966","#55B4A6","#9CCDC4","#BED6CC"],
//"Bleu":["#1F6869","#289DB7","#7FBCD2","#C1D8E2"],
//"Gris":["#464749","#808285","#BCBDC0","#E6E7E8"],
//"Orange fonc\u00e9":["#E54719","#F58220","#FAB072","#FDC99B"]}
$primary: #F58220;
$secondary: #808285;
$green: #D0D774;
$blue: #289DB7;

// Create your own map
$custom-colors: (
  "pistache": #D0D774,
  "pistachefonce": #55B4A6,
  "orange": #F58220,
);
