<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/svg/cerema-full-white.svg') }}" alt="Logo du Cerema" height="80" class="d-inline-block align-text-top m-2">
        </a>
    </div>
</nav>